ml/Ml_projects/archive.zip
ml/Ml_projects/Human Face Emotions/Data
ml/Ml_projects/Human Face Emotions/runs/emotion_resnet18
ml/Ml_projects/Human Face Emotions/ckpt_tinycnn48.pth
ml/Ml_projects/Human Face Emotions/ckpt_resnet18.pth
ml/Ml_projects/Human Face Emotions/ckpt_efficientnet_b0.pth
.gitignore
ml/Ml_projects/Human Face Emotions/ckpt_densenet121.pth
ml/Ml_projects/Human Face Emotions/ckpt_mobilenetv3_l.pth
ml/Ml_projects/Human Face Emotions/ckpt_shufflenet_v2.pth
ml/Ml_projects/Human Face Emotions/ckpt_squeezenet1_1.pth
nlp/.../Documents/Babel/babel-2025-12-09.backup.zip
nlp/.../Documents/Babel/babel-2025-12-09.backup.zip
iran-used-cars-dataset
pelak_dataset.zip
